* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 120vh;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
}

.left-side {
    display: flex;
    width: 550px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    background-color: #00000060;
    padding: 1px 127px;
    top: 3rem;
}

.logo img {
    width: 90px;
    margin-right: 3.5rem;
}

.logo>h1 {
    position: absolute;
    left: 13.5rem;
    top: 2.5rem;
    font-weight: bold;
    color: white;
    font-size: 2.1rem;
}


.right-side {
    width: 80%;
    height: 80%;
    padding: 40px;
}

h1,
h2,
h3 {
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 2.1rem;
    color: rgb(0, 107, 14);
    margin-bottom: 2rem;
    font-style: oblique;
}

.Password:invalid {
    border: 2px solid;
    border-color: red;
}

.Password:valid {
    border: 2px solid green;
}

#Last-Name:focus {
    border: 2px solid blue;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

input {
    gap: 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #E5E7EB;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}


.password-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.password-group>input {
    width: 50%;
}


label {
    padding: 5px;
    font-weight: bold;
}

button {
    width: 15rem;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #596D48;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2.5rem auto;
    border-radius: 31px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    -o-border-radius: 31px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

button:hover {
    background-color: black;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.sign-up {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: black;
}


.sign-up a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3c6e02;
    padding: 0 3px;
}
